body {
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#gameArea {
    position: relative;
    width: 600px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #333;
}

#derro {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 30px;
    height: 30px;
    background-color: #4CAF50; /* Warna Derro */
}

#cactus {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 40px;
    background-color: #D32F2F; /* Warna rintangan */
}

#credit {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}